<div class="snippet-block">
		
		<div>
			<p class="desc"><%= gist.description %></p>
        </div>
			<div class="btn-group">
				<%= link_to 'Show', gist, :class => "btn btn-default" %>
				<%= link_to 'Edit', edit_gist_path(gist), :class => "btn btn-default" %>
				<%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-default" %>
			</div>
			<div class="lang-info">
					<span class="label label-success lang"><%= gist.lang %></span><br/>
			</div>
			
			<%= raw Pygments.highlight(gist.snippet, lexer: gist.lang) %>
	</div>
