<p id="notice"><%= notice %></p>
<div class="snippet-block">
	<div>
		<p class="desc"><%= @gist.description %></p>
	</div>
	<div class="lang-info">
		<span class="label label-success lang"><%= @gist.lang %></span><br/>
	</div>
		<%= raw Pygments.highlight(@gist.snippet, lexer: @gist.lang) %>
	<div class="btn-group">
		<%= link_to 'Edit', edit_gist_path(@gist), :class => "btn btn-default" %>
		<%= link_to 'Back', gists_path, :class => "btn btn-default" %>
	</div>
</div>
